/*.navbar-text > a {
	color: inherit;
	text-decoration: none;
}

body {
	padding-top: 70px;
	padding-bottom: 100px;
}

#summary {
	font-size: 20px;
}

#stack {
	font-size: 26px;
}*/

body {
	background-color: #679B99;
	color: #003432;
}

.jumbotron {
	color: #003331;
	background-color: #438381;
}